 /********** PAGINA FORMULARIO INSCRIPCION PROYECTO Y PERFIL ************/
 /*
input:invalid,textarea:invalid{
	 background-color:rgba(255,0,0,0.1);
}
input:valid,textarea:valid{
	 background-color:rgba(0,255,0,0.1);
}
 */
/* background */
body.formulario_participacion{
    background-image: url('../img/bg/bg6.jpg');
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}
body.perfil_usuario{
    background-image: url('../img/bg/bg5.jpg');
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

/* Fin background */
 
.titulo{
	color: #555555;
	padding:30px;
}

.well{
    margin-top: 65px;
}
.aligncenter{
	text-align:center;
}

.imagen1{
	position: relative;
    top: 2%;
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.imagen1 img {
    position: relative;
    top: -75%;
}
.titulo_y_imagenes .imagen2 {
    position: absolute;
    left: 47%;
    top:350px;
    width: 112px;
    height: 84px;
    display: block;
}
.titulo_y_imagenes .imagen2 img{
	width: 100%;
}

.texto_registro {
    position: relative;
    top: 50px;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    margin-bottom: 4em;
}    

.mensaje_advertencia {
    position: relative;
    width: 75%;
	/*
    background-image: url(../templates/viagalicia/images/aviso.png);
    background-repeat: no-repeat;
    background-position: 98% 0.5em;
	border: solid black 1px;
    border-radius: 6px;
	*/
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
/*
.contenedor_opcionales{
    padding-left: 5%;
    padding-right: 5%;
}
.inputs_opcionales {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    background-image: url(../templates/viagalicia/images/opcional.png);
    background-repeat: no-repeat;
    background-position: 700px;
}
*/
/*
.contenedor_opcionales2{
    padding-left: 10%;
    padding-right: 10%;
    margin: 25px;
}
.inputs_opcionales2 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
*/
label.col-md-10.col-md-offset-1.control-label {
    text-align: justify;
}
label.col-md-10.control-label {
    padding: 15px;
}

.puntero{
	cursor:pointer;
}

span + input + label.error, span + textarea + label.error {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 0;
}

  /* Cambiar contraseña Ventana modal */

.header_mod_cambiar.modal-header {
	border: none;
}
.titulo_cambiar_pass{
	margin: 0px 0px 40px 0px;
}
  
   /* end Cambiar contraseña Ventana modal */
   

/* =========================================================
 Buttons
============================================================ */
 
.btn {
	color: #fff;
	text-shadow: none;
	font-size: 16px;
/*	padding: 11px 19px; */
	letter-spacing: 0.05em;
	border: 0;
	text-transform: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
  background-color: #545454;
  border-color: none;
  *background-color: #545454;
  background-image: none;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: none;
  border: none;
  *border: 0;
  border-bottom-color: none;
}

.btn-group-sm>.btn, .btn.btn-sm {
	color: #444;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
 	background-color: transparent;
 }

.btn.btn-sm:link, .btn.btn-sm:visited {
	color: #444;
	background: transparent;
}
.btn:link, .btn:visited {
	color: #fff;
}
.btn:hover {
	background: #333 !important;
}

.btn.btn-sm:hover {
	background: transparent !important;
	border:solid #444 1px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #fff;
  background-color: #333;
  *background-color: #333;
}


.btn.btn-theme:hover {
	background: #333 !important;
}

/* size */
.btn-large {
  padding: 18px 25px;
  font-size: 24px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 6px 13px;
  font-size: 11.9px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* end size */

.btn-primary {
  color: #ffffff;
  text-shadow: none;
  background-color: #09828c;
  *background-color: #09828c;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background: #065158;
  *background-color: #065158;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #065158 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: none;
  background-color: #ffe873;
  *background-color: #ffe873;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background: #b88f22;
  *background: #b88f22;
}

.btn-warning:active,
.btn-warning.active {
  background: #b88f22 \9;
}


.btn-danger {
  color: #ffffff;
  text-shadow: none;
  background-color: #f36f36;
  *background-color: #f36f36;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background: #db5f58;
  *background: #db5f58;
}

.btn-danger:active,
.btn-danger.active {
  background: #db5f58 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: none;
  background-color: #1bac91;
  *background-color: #1bac91;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background: #55ba93;
  *background: #55ba93;
}

.btn-success:active,
.btn-success.active {
  background: #55ba93 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: none;
  background-color: #4dbdc6;
  *background-color: #4dbdc6;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background: #6a9ad0;
  *background: #6a9ad0;
}

.btn-info:active,
.btn-info.active {
  background: #6a9ad0 \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: none;
  background-color: #3c3c3c;
  *background-color: #3c3c3c;
  background-image: none;
  border-color: none;
  filter:none;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background: #2b2a2a;
  *background: #2b2a2a;
}

.btn-inverse:active,
.btn-inverse.active {
  background: #2b2a2a \9;
}


/* button flat */
.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* button rounded */
.btn-rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.btn-large.btn-rounded {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

/* Menu */

.navbar-brand {
	padding-top: 10px;
}
.navbar-brand img{
	height:35px;
}

.navbar-default {
background-color:#fff;
border:none;
margin-bottom:0;
}

#menu-main > li > a {
	font-weight: 700;
	color: #000;
	font-size:14px;
	text-transform:uppercase;
}

#menu-main > li > a >span{
	border: 2px solid transparent ;
	border-radius: 7px;
	padding:7px 5px 7px 5px;
}
#menu-main > li > a > span:hover{
	color:#ff1817;
	border-color:#ff1817 ;
}

ul#menu-main > li > select {
	background-color:transparent;
	border: 2px solid transparent;
	border-radius: 7px;
	padding:7px 5px 7px 5px;
	font-weight:600;
	font-size: 14px;
	color:#000;
	box-shadow:none;
	font-family:sans-serif;
	margin-top:7px;
}

ul#menu-main > li > select > option{
	color:#000;
}
ul#menu-main > li > select:hover{
	border-color:#ff1817;
	color:#ff1817;
}


nav.navbar.navbar-default{
	border-bottom: 1px solid #e7e7e7;
	border-radius: 0px;
}
.botones_menu{
	padding: 0px 10px 0px 10px;
}

@media (max-width: 970px) {	
	.campo_menu{
		display:none;
	}
}

@media (max-width: 768px) {
	.pull-right.botones_menu_movil {
		margin-right: 20px;
	}
	.collapse.navbar-right {
	    float: right !important;
	    margin-right: -15px;
	    display: block!important;
	}
	ul#menu-main.navbar-nav {
	    float: right;
	    margin: 0;
   }

   	ul#menu-main.navbar-nav  li {
    	float: left;
    }
	.navbar-header {
	    float: left;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

}
@media (max-width: 570px) {
	.navbar-header {
		display:none;
		}
}
/* Fin Menu */